## Example 1

In [1]:
name = 'lastname firstname'
name_split = name.split()
(name_split[1]+' '+name_split[0]).title()

'Firstname Lastname'

In [2]:
name = 'lastname firstname'
name_split = name.split()
name_result = (name_split[1]+' '+name_split[0]). title()
print("Processed name: "+ name_result)

Processed name: Firstname Lastname

## Exmaple 2

In [3]:
names = ['rhodes marie', 'key sarah', 'christensen joe']
for name in names:
    name_split = name.split()
    name_result = (name_split[1]+' '+name_split[0]). title()
    print("Processed name: "+ name_result)

Processed name: Marie Rhodes
Processed name: Sarah Key
Processed name: Joe Christensen

## Example 3

In [4]:
import pandas

In [5]:
names = pandas.read_excel('./names.xlsx')

In [6]:
names

     Last name First name
0       rhodes      marie
1          key      sarah
2  christensen        joe

In [7]:
names['Last name'] = 'DR '+ names['Last name'].str.upper()

In [8]:
names['First name'] = names['First name'].str.capitalize()

In [9]:
names

        Last name First name
0       DR RHODES      Marie
1          DR KEY      Sarah
2  DR CHRISTENSEN        Joe

In [10]:
names = names[['First name', 'Last name']]

In [11]:
names

  First name       Last name
0      Marie       DR RHODES
1      Sarah          DR KEY
2        Joe  DR CHRISTENSEN

Final code put together

In [12]:
import pandas
names = pandas.read_excel('./names.xlsx')
names['Last name'] = 'DR '+ names['Last name'].str.upper()
names['First name'] = names['First name'].str.capitalize()
names = names[['First name', 'Last name']]

writer = pandas.ExcelWriter('names_processed.xlsx')
names.to_excel(writer, 'Sheet1')
writer.close()

## Example 4

In [13]:
f = open('./names.txt')
firstnames = []
lastnames  = []
for line in f.readlines():
    if line.startswith('LN'):
        lastnames.append(line.split()[1])
    elif line.startswith('FN'):
        firstnames.append(line.split()[1])
    else:
        pass
f.close()

In [14]:
firstnames

['marie', 'sarah', 'joe']

In [15]:
lastnames

['rhodes', 'key', 'christensen']

## Example 5

In [16]:
import numpy
numpy.set_printoptions(precision=3 , suppress= True) # this is just to make the output look better

In [17]:
numbers = numpy.loadtxt('./numpers.txt')

In [18]:
numbers

array([ 1980.  ,    12.  ,     0.37,  1981.  ,     1.  ,     0.8 ,
        1982.  ,     2.  ,     0.22])

In [19]:
reshaped = numbers.reshape(3,3)
reshaped

array([[ 1980.  ,    12.  ,     0.37],
       [ 1981.  ,     1.  ,     0.8 ],
       [ 1982.  ,     2.  ,     0.22]])

In [20]:
reshaped[:,2].mean()

0.46333333333333332

Final code put together

In [21]:
import numpy
numbers = numpy.loadtxt('./numpers.txt')
reshaped = numbers.reshape(3,3)
reshaped[:,2].mean()

0.46333333333333332